<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet"/>

        <link th:insert="header.html"/>

        <title th:text = "${@environment.getProperty('bakery.title')}">Bakery</title>
    </head>

    <body>
        <div th:insert="menu/topMenu.html"/>

        <div class="container"> 
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Номер</th>
                        <th scope="col">Дата</th>
                        <th scope="col">Цена</th>
                        <th scope="col">Место назначения</th>
                    </tr>
                </thead>
                <tbody>
                        <tr class="table-row" th:each= "order, iter : ${orders}" th:onclick="|window.location='/order/info/${order.id}'|">
                            <td th:text="${iter.index + 1}"></td>
                            <td th:text="${#dates.format(order.orderDate, 'dd MMMMM yyyy HH:mm')}"></td>
                            <td th:text="${order.fullPrice}"></td>
                            <td th:text="${order.destination}"></td>
                        </tr>
                </tbody>
            </table>
            
            <a class="btn btn-outline-secondary" href="/catalog">Назад в каталог</a>
        </div>
    </body>
</html>