<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:href="@{/css/menu.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet"/>
        <title th:text = "${@environment.getProperty('bakery.title')}">Bakery</title>
    </head>
    <body>
        <div th:insert="menu/topMenu.html"/>
        <div class="main center">
            <h1>Каталог</h1>
            <img th:src="@{/img.jpeg}"/>            
            <div th:each="type : ${types}">
                <h3 th:text="${type.name}"> type </h3>

                <div th:each= "product : ${Attr__${type.id}__}">
                    <div th:if="${product.active}">
                        <h3 th:text="${product.name}"></h3>
                        <h4>                   
                            <span th:text="${product.description}"></span><br/>
                            Цена <span th:text="${product.price}"></span><br/>                   
                        </h4>
                        <img class="catalog-image" th:src="@{/img/__${product.imageUrl}__}"/>
                        <hr/>
                    </div>
                </div>
            </div>            
    </body>
</html>