<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet"/>

        <link th:insert="header.html"/>

        <title th:text = "${@environment.getProperty('bakery.title')}">Bakery</title>
    </head>
    <body>
        <div th:insert="menu/topMenu.html"/>
        <div class="container">   

            <h1>Список продукции</h1>   

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Имя</th>
                        <th scope="col">Цена</th>
                        <th scope="col">В наличии</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <div th:each="type : ${types}">
                        <tr class="typeName">
                            <th th:text="${type.getName()}"> type</th>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr th:each= "prod : ${Attr__${type.getId()}__}">
                            <td th:text="${prod.name}"></td>
                            <td th:text="${prod.price}"></td>
                            <td th:text="${prod.active} ? 'Да' : 'Нет'"></td>
                            <td><a class="btn btn-primary" th:href="@{/catalog/admin/activate/__*{prod.getId()}__}" th:text="${prod.active} ? 'Деактивировать' : 'Активировать'"></a></td>
                            <td><a class="btn btn-primary" th:href="@{/catalog/admin/edit/__${prod.getId()}__}"/>Редактировать</td>
                        </tr>
                    </div>
                </tbody>
                <tfoot>
                    <tr>
                        <td><a class="btn btn-primary" href="/catalog/admin/types">Типы продукции</a></td>
                        <td><a class="btn btn-primary" href="/catalog/admin/edit/new">Добавить продукт</a></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tfoot>
            </table>            

        </div>
    </body>
</html>
