<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:href="@{/css/menu.css}" type="text/css" rel="stylesheet"/>
        <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet"/>
        <title th:text = "${@environment.getProperty('bakery.title')}">Bakery</title>
    </head>
    <body>
        <div th:insert="menu/topMenu.html"/>
        <div class="main center">
            <div class="main center">
                <h1 th:if="${product.name}!=null" th:text="${product.name}"></h1></br>

                <form method="POST" th:action="@{/catalog/edit}" th:object="${product}" enctype="multipart/form-data">
                    
                    <img class="catalog-image" id="image" th:src="@{/img/__*{imageUrl}__}" th:field="*{imageUrl}"/><br/> 
                    
                    <input type="hidden" name="id" th:field="*{id}"/>
                    <input type="hidden" name="id" th:field="*{imageUrl}"/>

                    <label for="name">Название:</label>
                    <input type="text" name="name" th:field="*{name}" th:text="${name}"/>
                    <span class="validationError" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error</span><br/><br/>

                    <textarea name="description" th:field="*{description}" th:text="*{description}"/>
                    <span class="validationError" th:if="${#fields.hasErrors('description')}" th:errors="*{description}">Error</span><br/><br/>

                    <label for="price">Цена: </label>
                    <input type="text" name="price" th:field="*{price}" th:text="${price}"/>
                    <span class="validationError" th:if="${#fields.hasErrors('price')}" th:errors="*{product.price}">Error</span><br/><br/>
                    
                    <input type="checkbox" th:field="*{active}" th:value="${active}"/>                    
                    <label th:for="${#ids.prev('active')}" th:text="Активно"></label><br/><br/>

                    <label>Тип:</label><br/>
                    <div th:each="tp : ${types}">
                        <input name="type" type="radio" th:field="*{type}" th:value="${tp.id}"/>
                        <label th:text="${tp.name}"><label><br/>
                    </div><br/>
                    
                    <input type="file" name="file" onchange="onFileSelected(event)"/><br/><br/>                    
                        
                        <input type="submit" value="Применить"/><br/><br/> <br/><br/> 
                </form>
            </div>
        </div>
        <script>
            function onFileSelected(event) {
                var selectedFile = event.target.files[0];
                var reader = new FileReader();

                var imgtag = document.getElementById("image");
                imgtag.title = selectedFile.name;

                reader.onload = function(event) {
                    imgtag.src = event.target.result;
                };

                reader.readAsDataURL(selectedFile);
            }
            </script>
    </body>
</html>