<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet"/>

        <link th:insert="header.html"/>

        <title th:text = "${@environment.getProperty('bakery.title')}">Bakery</title>
    </head>
    <body>
        <div th:insert="menu/topMenu.html"/>
        <div class="container">   
            <br/><br/>
            <img th:src="@{/img.jpeg}"/>

            <form method="POST" th:action="@{|/registration/changePassword/${user.id}}|">

                <input type="hidden" name="id" th:value="${user.id}"/><br/>

                <label class="form-label" for="password">Пароль: </label>
                <input class="form-control" type="password" name="password"/><br/>

                <label class="form-label" for="confirm">Повторите пароль: </label>
                <input class="form-control" type="password" name="confirm"/><br/>

                <div th:if="${error} != null" class="alert alert-danger" role="alert" id="alertMessageDiv">
                    <span id="message"> [[${error}]]</span>                    
                </div>

                <input class="btn btn-outline-secondary" type="submit" value="Изменить"/>
            </form>
            <br/>
        </div>
    </body>
</html>