<ul  class="menu-main">
    <li sec:authorize="isAuthenticated()"><a sec:authentication="name"></a></li>
    <li><a href="/">Главная</a></li>
    <li><a href="/catalog">Каталог</a></li>
    <li><a href="">Корзина</a></li>
    <li><a href="">Контакты</a></li>
    <li sec:authorize="!isAuthenticated()"><a href="/login">Войти</a></li>
    <li sec:authorize="isAuthenticated()"><a href="/logout">Выйти</a></li>
    <li sec:authorize="hasAuthority('ADMIN')"><a href="/user">Список пользователей</a></li>
    <li sec:authorize="hasAuthority('ADMIN')"><a href="/catalog/edit">Редактор каталога</a></li>
</ul>
